@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-dark-main {
  background-color: #050816;
  background-image:
    radial-gradient(circle at 10% 0%, #1f2937 0%, #050816 55%),
    radial-gradient(circle at 90% 100%, #0f172a 0%, #050816 60%),
    linear-gradient(120deg, rgba(15, 23, 42, 0.8) 0%, rgba(15, 23, 42, 0.8) 1px, transparent 1px, transparent 3px);
  background-attachment: fixed;
}